# Direnv
.direnv/

# .NET
bin/
obj/

# JavaScript
dist/
*.fs.js
node_modules/
src/Standalone/
public/metadata/
public/js/repl/bundle.min.js
public/js/repl/worker.min.js
public/js/repl/fable-library-js/